Checks: '
bugprone-*,
-bugprone-easily-swappable-parameters,
clang-analyzer-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-type-member-init,
misc-*,
-misc-non-private-member-variables-in-classes,
'
FormatStyle: LLVM 
